* {
  padding: 0%;
  margin: 0%;
}
.login-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: linear-gradient(#d7ede2,#30e9ff);
}

.login-container h1 {
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 10px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 10px;
}

.login-container input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.login-container button {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}
.login-container main {
  padding: 0%;
    background-image: url('/home/gabriella/Documents/G62/silverback-g6-final-project/src/Premium Photo Top view no vacation concept with plane(1).jpeg');
   background-repeat: no-repeat;
   background-size: 100%;
    
    height:500px; 
    border-radius: 5px;
    margin-top: 10px; 

  }
  
